<% include ../partials/header %>
    <div class="container-fluid">
        <div class="thumbnail text-center">
          <div class="row">
            <div class="col-sm-12">
              <img class="img-circle" width="200" height="200" src="<%= user1.photo %>" alt="<%= user1.username %>">
              <img class="img-circle" width="200" height="200" src="<%= user2.photo %>" alt="<%= user2.username %>">
            </div>
          </div>
        </div>
      
        <div class="row">
        <!-- DISPLAY MESSAGE -->
          <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                  <h4>Messages</h4>
                </div>
                <div>
                <ul id="messages">
                <% messages.forEach(function(message) { %>
                  <img src="<%= message.photo %>" height="64px" width="64px">
                  <li><%= message.author_name %>: <%= message.message %></li>
                <% }) %>                  
                </ul>
                  <form id="socket" action="">
                    <!-- This input gives us the author's id -->
                    <input type="hidden" id="author_id" value="<%= user1.id %>">
                    <!-- This input gives us the recipient's id -->
                    <input type="hidden" id="recipient_id" value="<%= user2.id %>">
                    <!-- This input gives us the user's name -->
                    <input type="hidden" id="author_name" value="<%= user1.username %>">
                    <!-- This input gives us their picture URL -->
                    <input type="hidden" id="photo" value="<%= user1.photo %>">
                    <!-- This input gets the user's message -->
                    <input id="message" autocomplete="off" /><button>Send</button>
                  </form>
                </div>
            </div>
            <!-- <div class="thumbnail">
                <div class="caption">
                  <h4>Message back</h4>
                  <p>...</p>
                </div>
            </div> -->
          </div>
          <div class="col-sm-3" >
            <p><% data1.businesses.forEach(function(business){ %>
                <div class="thumbnail">
                  <div class="caption">
                    <img src="<%= business.rating_img_url %>"alt="rating">
                      <h3><%= business.name %></h3>
                      <p><%= business.snippet_text %></p>
                      <p><%= business.display_phone %></p>
                      <p><%= business.location.display_address %></p>
                      <p><a href="<%= business.url %>">click on link</a></p>
                      <br><iframe
                                           width="250"
                                           height="250"
                                           frameborder="0" style="border:0"
                                           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPKkQTPzsPbNxor5_aJ3DQQaXd2Lc3q0g
                                             &q=<%= business.location.display_address %>" allowfullscreen>
                                     </iframe>
                </div>
              </div>                      
            <% }) %>
          </p>
        </div>
        <div class="col-sm-3">
          <p><% data2.businesses.forEach(function(business){ %>
              <div class="thumbnail" >
                <div class="caption">
                  <img src="<%= business.rating_img_url %>" alt="rating">
                    <h3><%= business.name %></h3>
                    <p><%= business.snippet_text %></p>
                    <p><%= business.display_phone %></p>
                    <p><%= business.location.display_address %></p>
                    <p class="hyphens"><a href="<%= business.url %>">click on link</a></p>
                    <iframe
                                         width="250"
                                         height="250"
                                         frameborder="0" style="border:0"
                                         src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPKkQTPzsPbNxor5_aJ3DQQaXd2Lc3q0g
                                           &q=<%= business.location.display_address %>" allowfullscreen>
                                   </iframe>

                </div>
              </div>
          <% }) %>
    </p>
  </div>
</div>


<% include ../partials/footer %>