<% include ../partials/header %>


<p><% businesses.forEach(function(business){ %>
<div class="row">
  <div class="col-sm-6 col-md-4" >
    <div class="thumbnail" >
      
      <div class="caption">
      <img src="<%= business.rating_img_url %>" style="float:left" alt="rating">
        <h3><%= business.name %></h3>
        <p><%= business.snippet_text %></p>
        <p><%= business.display_phone %></p>
        <p><%= business.location.display_address %></p>
        <p><a href="<%= business.url %>"><%= business.url %></a></p>
      </div>
    </div>
  </div>
</div>
 
 <% }) %>
</p>

 
<% include ../partials/footer %>