<% include ../partials/header %>
<div class="col-sm-3 col-md-offset-4 profile_image">
<p><a href="/users/<%= user.id %>/edit" class="btn btn-default" role="button">Edit Profile</a> 
            <div class="thumbnail">
              <div class="caption">
              <img  src="<%= user.photo%>" alt="profile" width="250" height="250"> 
               <h4>User Name: <%= user.username %></h4><!-- this refers to first key user -->
               <h5>zipcode: <%= user.zipcode %></h5>
               <h5>Cat name: <%= user.catname %></h5>
               <h5>Cat's age: <%= user.age %></h5>
               <h5>Cat's favorite toy: <%= user.favtoys %></h5>
               <h5>More about cat: <%= user.morecat %></h5>
               <h5>Something about owner: <%= user.moreowner %></h5>
                  <!-- <a href="#" class="btn btn-default" role="button">Delete</a></p> -->
                  <a href="/users/<%= user.id %>/chat"><input type="submit" value="Message me" class="btn btn-info"></a>
              </div>
            </div>
          </div>
<% include ../partials/footer %>
