<% include ../partials/header %>
<h1>Comments</h1>


  <div class="row">
    <div class="col-sm-6 col-md-offset-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Title:<%= post.title %></h3>
          <p>User: <%= post.user.username %></p>
          <p>Date:<%= post.date %></p>
          <p>Content: <%= post.postContent%></p>
        </div>
      </div>
    </div>
  </div>
     <% post.comments.forEach(function(comment) { %>
          <% console.log(comment) %>
          <p><%=comment.commentContent%></p>
          <p><%=comment.author%></p>
          <p><%=comment.date%></p>          
      <% }) %>

     <form action="/posts/<%= post.id %>/comments" method="POST">
        <div class="col-sm-6 col-md-4">
            <label for="coments">Write your comment:</label>
            <textarea type="text" name="comment[commentContent]" id="comment"class="form-control" rows="3" id="commentContent"  placeholder="Write your comment.." ></textarea>
            <input class="btn btn-primary btn-xs" value="Submit" type="submit">
        </div>
      </form>

<% include ../partials/footer %>